---
import { Image } from 'astro:assets'

import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import wechat from '@/assets/wechat-qrcode.jpg'

const headings = [
  { depth: 2, slug: 'social-networks', text: '活动范围' },
  { depth: 2, slug: 'sponsorship', text: '喝杯咖啡' }
]
---

<PageLayout title='关于我' {headings} comment>
  <p>热爱编程，游戏，数码产品。</p>
  <p>喜欢记录。</p>

  <h2 id='github-activities'>Github Activities</h2>
  <p>
    <Image
      src='https://ghchart.rshah.org/800080/calebax'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>

  {/* social-networks */}
  <h2 id='social-networks'>活动范围</h2>
  <p>平时没事写写代码打打游戏，目前电子ED严重，但还是喜欢。</p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/calebax',
        text: 'followers',
        api: 'github/calebax'
      },
      {
        platform: 'PSN',
        icon: 'psn',
        color: '#50769d',
        link: 'https://profile.playstation.com/south7i',
        text: 'games',
        api: ''
      }
    ]}
  />

  <!-- sponsorship -->
  <h2 id='sponsorship'>☕️</h2>
  <p>赞助后，请留言或主动联系我。</p>
  <Sponsorship
    methods={[
      { name: 'WeChat', icon: 'wechat-pay', image: wechat },
      { name: 'Alipay', icon: 'alipay', image: alipay }
    ]}
  />
</PageLayout>
