---
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/home/Section.astro'
import bgimg from '@/assets/cat.webp'
import config from '@/site-config'

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: '首页' }} backgroundImage={bgimg} highlightColor='#000000'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='ShangHai'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label title='' as='a' href='https://github.com/calebax' target='_blank'>
            <Icon name='github' class='size-5' slot='icon' aria-hidden='true' />
            <span class='sr-only'>GitHub</span>
          </Label>
        </div>
      </div>
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      {
        allPostsByDate.length > 0 && (
          <Section title='最近'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='更多' class='w-fit self-end' href='/blog' variant='ahead' />
          </Section>
        )
      }
    </div>
  </main>
</PageLayout>
